.header {
padding: 0vh 5vw;
    margin-top: 2vh;
}

.nav-bar-li {
    list-style: none;
}

.nav-bar-li a {
    text-decoration: none;
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3em;
    color: #5e6d64;
}

.nav-bar-li a:hover {
    color: #f8000c;
}

